In [32]:
def sumNums (*args,**kwargs):
    for value in kwargs.values():
        print(value)
    for num in args:
        print(num)

In [33]:
sumNums(1,2,3,key1="this is avalue1",key2="this is value2",key3="this is value3")

this is avalue1
this is value2
this is value3
1
2
3

In [55]:
class Car:
    def __init__(self,mileage,color,isPretty):
        self.mileage=mileage
        self.color=color
        self.isPretty=isPretty
    def __str__(self):
        return "hi i am car"

In [56]:
car1 = Car(100,"brown",True)

In [57]:
print(car1.mileage)

100

In [58]:
print(car1)

hi i am car

In [78]:
class Volvo(Car):
        def __init__(self,*args,**kwargs):
            super().__init__(*args,**kwargs)

In [79]:
volvo = Volvo(35,"brown",False)

In [80]:
print(volvo.mileage)

35

In [81]:
count, fruit, price = (2, 'apple', 3.5)

In [83]:
print(fruit)

apple

In [86]:
list1 = [1,2,3,4,56]

In [87]:
print(type(list1))

<class 'list'>

In [88]:
num1 = list1.pop(3)

In [89]:
num1

4

In [90]:
list1

[1, 2, 3, 56]

In [92]:
from collections import namedtuple

In [95]:
Color = namedtuple('User_Cardentials',['id',"name","surname",'isPretty'])
color = Color(322922519,'arik','shvarts',True)

In [97]:
color.id

322922519

In [98]:
queue_try = []

In [100]:
queue_try.insert(0,120)
queue_try.insert(0,5)
queue_try.insert(0,1)
queue_try.insert(0,77)

In [ ]:
queue_try.pop